@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Bebas Neue', cursive;
}
h1{
  font-size: 5vw;
}
span{
  font-size: 2vw;
}
p{
  font-family: 'Abel', sans-serif;
  line-height: 1.8em;
  font-size: 20px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fff;
  z-index: 10;
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.profil-image{
  float: left;
  height: 100%;
  border: 1px;
}
.img-grey{
  filter: grayscale();
 
}
.profil-image > img{
  height: 100%;
  border: 1px solid #f6FBfF;

}


main{
  width: 95%;
  height: 90vh;
  position: absolute;
  background: #f6FBfF;
  /* background: red; */
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -3;
  display: flex;
  /* border-radius: 15px 15px 15px 15px; */

}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 5px;
}
.content{
  margin-top: 15%;
  margin-left: 15px;
  background-color: #f6FBfF;
}
.line{
  display: inline-block;
  width: 70px;
  height: 5px;
  background-color: #333;
  margin-bottom: 30px;
}
a{
  text-decoration: none;
  color: #333;
}
.link{
  color: coral;
}

@media (max-width: 960px) { 
  .profil-image{
    display: none;
  }
  h1{
    font-size: 20vw;
  }
  span{
    font-size: 40px;
  }
  main{
    width: 100%;
    
    z-index: -3;
    display: flex;
    /* border-radius: 15px 15px 15px 15px; */
  
  }
  .list-inline{
    display: none;
  }
  footer{
    text-align: center;
    display: block;
    }
    #date{
      display: none;
    }
  
}

